services:

  database:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: smartjobseeker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    image: redis:6
    healthcheck:
      test: ["CMD-SHELL", "[ $$(redis-cli ping) = 'PONG' ]"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 5s
      start_period: 30s

  admin:
    # Directus Docs:
    # https://directus.io/docs/self-hosting/deploying#docker-compose-examples
    image: directus/directus:latest
    restart: unless-stopped
    ports:
      - 8055:8055
    volumes:
      - ./directus/uploads:/directus/uploads
      - ./directus/extensions:/directus/extensions
    depends_on:
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    environment:
      SECRET: 'replace-with-random-value'

      # Database connection:
      DB_CLIENT: 'pg'
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_DATABASE: 'smartjobseeker'
      DB_USER: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_SSL: 'false'

      # DB_CONNECTION_TIMEOUT: 60000
      # DB_ACQUIRE_CONNECTION_TIMEOUT: 60000

      CACHE_ENABLED: "true"
      CACHE_AUTO_PURGE: "true"
      CACHE_STORE: "redis"
      REDIS: "redis://cache:6379"

      # ADMIN_EMAIL: ${ADMIN_EMAIL}
      # ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      ADMIN_EMAIL: 'rik@rikwanders.tech'
      ADMIN_PASSWORD: 'waterpijp'

      PUBLIC_URL: ${PUBLIC_URL}

  app:
    image: node:20-slim
    working_dir: /app
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
    depends_on:
      - database

volumes:
  postgres_data:
