services:
  directus:
    image: directus/directus:latest
    ports:
      - 8055:8055
    volumes:
      - ./static/uploads:/directus/uploads
      - ./directus/extensions:/directus/extensions
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      KEY: 'replace-with-random-value'
      SECRET: 'replace-with-random-value'
      

      # Prisma Dev DB connection string:

      DB_CLIENT: 'pg'  # or mysql, sqlite3, etc.
      DB_HOST: ''  # could be localhost, IP, or hostname
      DB_PORT: ''
      DB_DATABASE: ''
      DB_USER: ''
      DB_PASSWORD: ''
      DB_SSL: ''

      # DB_CONNECTION_TIMEOUT: 60000
      # DB_ACQUIRE_CONNECTION_TIMEOUT: 60000
      
      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'your-admin-password'
