services:

  database:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: smartjobseeker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/:/scripts
      - ./db-dumps/:/db-dumps
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  cache:
    image: redis:6
    healthcheck:
      test: ["CMD-SHELL", "[ $$(redis-cli ping) = 'PONG' ]"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 2s
      start_period: 30s

  app:
    image: node:22
    working_dir: /app
    restart: unless-stopped
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm ci && npm run docker:dev"
    depends_on:
      - database
    healthcheck:
      test: ["CMD-SHELL", "curl -o /dev/null -s http://localhost:5173/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_interval: 2s
      start_period: 60s
    environment:
      NODE_ENV: development
      DATABASE_URL: 'postgres://postgres:postgres@database:5432/smartjobseeker'

  admin:
    # Directus Docs:
    # https://directus.io/docs/self-hosting/deploying#docker-compose-examples
    image: directus/directus:latest
    restart: unless-stopped
    ports:
      - 8055:8055
    volumes:
      - ./directus/uploads:/directus/uploads
      - ./directus/extensions:/directus/extensions
    depends_on:
      app:
        condition: service_healthy
      database:
        condition: service_healthy
      cache:
        condition: service_healthy
    environment:
      SECRET: ${ADMIN_SECRET}

      # Database connection:
      DB_CLIENT: 'pg'
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_DATABASE: 'smartjobseeker'
      DB_USER: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_SSL: 'false'

      # DB_CONNECTION_TIMEOUT: 60000
      # DB_ACQUIRE_CONNECTION_TIMEOUT: 60000

      CACHE_ENABLED: "true"
      CACHE_AUTO_PURGE: "true"
      CACHE_STORE: "redis"
      REDIS: "redis://cache:6379"

      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}

      PUBLIC_URL: ${ADMIN_PUBLIC_URL}

  prisma-studio:
    image: node:20
    working_dir: /app
    ports:
      - "5555:5555"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npx prisma studio --port 5555 --browser none"
    depends_on:
      - database
    environment:
      DATABASE_URL: 'postgres://postgres:postgres@database:5432/smartjobseeker'

volumes:
  postgres_data:
