services:
  directus:
    image: directus/directus:latest
    ports:
      - 8055:8055
    volumes:
      - ./static/uploads:/directus/uploads
      - ./directus/extensions:/directus/extensions
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - ../.env  # Go up one directory to find .env
    environment:
      KEY: 'replace-with-random-value'
      SECRET: 'replace-with-random-value'
      

      # Prisma Dev DB connection string:

      DB_CLIENT: 'pg'  # or mysql, sqlite3, etc.
      DB_HOST: 'host.docker.internal'  # could be localhost, IP, or hostname
      DB_PORT: '51214'
      DB_DATABASE: 'template1'
      DB_USER: 'postgres'
      DB_PASSWORD: 'postgres'
      DB_SSL: 'false'

      # DB_CONNECTION_TIMEOUT: 60000
      # DB_ACQUIRE_CONNECTION_TIMEOUT: 60000
      
      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'your-admin-password'
