@import 'tailwindcss';

@theme {
	--breakpoint-2xs: 20rem;
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 50rem;
	--breakpoint-lg: 60rem;
	--breakpoint-xl: 70rem;
	--breakpoint-2xl: 80rem;
	--breakpoint-3xl: 90rem;
}

* {
	--text-color: #124458;
	--text-light-color: var(--color-gray-100);
	--primary-color: #2c708b;
	--highlight-color: rgb(87, 150, 174);
	--shade-color: var(--color-gray-200);
	--light-color: var(--color-gray-200);
	--lighter-color: var(--color-gray-100);
	--max-content-width: 885px;
}

html,
body {
	color: var(--text-color);
	background: var(--lighter-color);
}
