@import 'tailwindcss';

@theme {
	--breakpoint-2xs: 20rem;
	--breakpoint-xs: 30rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 50rem;
	--breakpoint-lg: 60rem;
	--breakpoint-xl: 70rem;
	--breakpoint-2xl: 80rem;
	--breakpoint-3xl: 90rem;
}

* {
	--max-content-width: 885px;
}

.theme-light {
	--text-color: #124458;
	--text-light-color: #f8fafc;
	--primary-color: #2c708b;
	--highlight-color: rgb(87, 150, 174);
	--shade-color: #e2e8f0;
	--light-color: #e2e8f0;
	--lighter-color: #f8fafc;
	--light-bg-color: #ebf1f3;
	--lighter-bg-color: #f8fafb;
	--footer-bg-color: #124458;
}

.theme-dark {
	--text-color: #f8fafc;
	--text-light-color: #f8fafc;
	--primary-color: #2c708b;
	--highlight-color: rgb(87, 150, 174);
	--shade-color: #1e293b;
	--light-color: #334155;
	--lighter-color: #0f172a;
	--light-bg-color: #173540;
	--footer-bg-color: #124458;
}

html,
body {
	color: var(--text-color);
	background: var(--lighter-color);
}
